<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #000E2C;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #00236f">
        <!-- Left -->
        <div class="me-5">
            <span>Nuestras Redes</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="text-white me-4">
                <img src="https://cdn-icons-png.flaticon.com/512/281/281769.png" width="25" height="25">
            </a>
            <a href="" class="text-white me-4">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="25" height="25">
            </a>
            <a href="" class="text-white me-4">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="25" height="25">
            </a>
            <a href="" class="text-white me-4">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="25" height="25">
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Microdat</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: white; height: 2px" />
                    <p class="justify-content-left">
                        Co-creando experiencias de alto valor para nuestros socios y sus clientes.
                        30 años colaborando con nuestra experiencia, conocimiento y profesionalismo en proyectos y
                        servicios tecnológicos de alto impacto.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Documentación</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: white; height: 2px" />
                    <p>
                        <a href="https://pokeapi.co/docs/v2" class="text-white">PokeApi</a>
                    </p>
                    <p>
                        <a href="https://docs.angular.lat/docs" class="text-white">Angular</a>
                    </p>
                    <p>
                        <a href="https://es.quarkus.io/" class="text-white">Quarkus</a>
                    </p>
                    <p>
                        <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/"
                            class="text-white ">Bootstrap</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contacto</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: white; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> Santiago, Isidora Goyenechea 3335, Chile</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@microdat.cl</p>
                    <p><i class="fas fa-phone mr-3"></i> + 56 2 434 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 56 2 734 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://microdat.cl/">Microdat.cl</a>
    </div>
    <!-- Copyright -->
</footer><!-- Footer -->