<!-- <h1>modal</h1>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-tittle">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        este es el contenido del modal
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">OK</button>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="openS(contenido)">lanzar modal S</button>
<button type="button" class="btn btn-outline-success" (click)="openL(contenido)">lanzar modal L</button>
<button type="button" class="btn btn-outline-secondary" (click)="openXL(contenido)">lanzar modal XL</button>
<button type="button" class="btn btn-outline-primary" (click)="openCentrado(contenido)">lanzar modal centrado</button>
<button type="button" class="btn btn-outline-warning" (click)="openScroll(contenido)">lanzar modal Scroll</button>
<hr>
<button type="button" class="btn btn-outline-info" (click)="openBackground(contenido)">lanzar modal openBackground</button>
<button type="button" class="btn btn-outline-dark" (click)="openWindow(contenido)">lanzar modal window</button> -->

<div class="modal-header justify-content-center">
    <h4 class="modal-tittle">Detalles de {{data.toUpperCase()}}</h4>
    <button class="close btn-danger" aria-label="close" type="button" style="position: absolute; top: 0; right: 0; margin-right: 10px; margin-top: 10px;" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="card">
        <div class="card-body text-center">
            <!-- falta devolver la imagen desde el quarkus -->
            <img [src]="detallesPokemon?.sprites?.other['official-artwork']?.front_default" class="img-fluid rounded" style="max-width: 40%; height: auto;">
        </div>
    </div>
    <hr>
    <dl class="row">
        <dt class="col-sm-4">ID:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.id }}</dd>

        <!-- devolver desde el quarkus -->
        <dt class="col-sm-4">Experiencia base:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.base_experience }}</dd>

        <dt class="col-sm-4">Peso:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.weight }}</dd>

        <dt class="col-sm-4">Altura:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.height }}</dd>

        <dt class="col-sm-4">Es Default:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.is_default ? 'Sí' : 'No' }}</dd>

        <dt class="col-sm-4">Orden:</dt>
        <dd class="col-sm-8">{{ detallesPokemon.order }}</dd>
    </dl>
</div>

<!-- <div class="modal-body">
    <div class="d-flex justify-content-center">
        <div class="table-responsive justify-content-center" style="border-radius: 20px; width: 80%">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Area URL: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ detallesPokemon.id}}</td>        
                        <td></td>
                        <td>{{ detallesPokemon.weight }}</td>                
                        <td>{{ detallesPokemon.height }}</td>
                        <td>{{ detallesPokemon.location_area_encounters}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Aceptar</button>
</div>