.oscuro .modal-content{
    background-color: blue;

}

.oscuro .close {
    color: white;
}

.azul{
    background-color: blue;
}

.custom-dl dt {
    margin-bottom: 0; /* Elimina el margen inferior */
    padding-top: 5px; /* Ajusta el espacio superior */
}

.custom-dl dd {
    margin-bottom: 0; /* Elimina el margen inferior */
    padding-bottom: 5px; /* Ajusta el espacio inferior */
}
